/*http://paletton.com/#uid=7142w0kaC2RdcY3avkIffi6rmv-*/

body {
  background-color:#17140F;
  font-family:Arial, Helvetica, sans-serif;
  color:#A5956F;
}

h1 {
  text-align:center;
  color:#7D91A4;
}

a:link, a:visited {
  color:#4B5B6B;
}

hr {
  width:70%;
  background-color:#4B5B6B;
  height:1px;
  border:none;
}

button {
  background-color:#A5956F;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border:0px;
  font-size:140%;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

#wrapper {
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

button:active, button:focus, textarea:focus {
  outline: none;
}

/*alignment*/

.right {
  text-align:right;
}

.center {
  text-align:center;
}

/*about box and overlay*/

#overlay {
  display:none;
  background-color:rgba(0, 0, 0, 0.6); 
  width:100%;
  height:100%; 
  z-index:10;
  top:0; 
  left:0; 
  position:fixed; 
}

#aboutbox {
  display:none;
  background-color:#A5956F;
  color:#17140F;
  border:1px solid black;
  position:fixed;
  width:60%;
  left: 50%;
  margin-left: -30%;
  z-index:20;
  padding: 0px 10px;
  border-radius:10px;
}

#close {
  cursor:pointer;
  font-size:140%;
}

/*progress bar etc*/

#howmuch {
  text-align:center;
}

#progwrapper {
  border:1px solid #0A0C0F;
  background-color:#A5956F;
  height:30px;
  margin-bottom:20px;
}

#prog {
  width:0%;
  height:30px;
  background-color:#2264A3;
}

.invisible {
  display:none;
}

/*writing stuff*/

textarea {
  font-family:'courier new', monospace;
  background-color:#A5956F;
  color:#0A0C0F;
  border:1px solid #0A0C0F;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
}

#counter {
  text-align:center;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  background-color:#A5956F;
  border:1px solid #0A0C0F;
  color:#0A0C0F;
  margin-bottom:15px;
  font-size:120%;
}

#donebut {
  margin-bottom:15px;
}

.inactivebut {
  color:#90744C;
  cursor:not-allowed;
}

.activebut {
  color:#0A0C0F;
}