textarea {
  font-family:'courier new', monospace;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#howmuch {
  text-align:center;
}

#progwrapper {
  border:1px solid black;
  height:30px;
  margin-bottom:10px;
}

#prog {
  width:0%;
  height:30px;
  background-color:red;
}

#counter {
  text-align:center;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid black;
}

#donebut {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.inactivebut {
  color:#c0c0c0;
  cursor:not-allowed;
}

.activebut {
  color:black;
  cursor:pointer;
}

.invisible {
  display:none;
}